<div class="navbar navbar-default">
    <ul class="nav nav-tabs">
    <li role="presentation" {{{isNavActive page "Home" }}}><a href="/">Home</a></li>
    <li role="presentation" {{{isNavActive page "Metro"}}}><a href="/metro">Metro</a></li>
    <li role="presentation" {{{isNavActive page "Lights"}}}><a href="/lights">Lights</a></li>
    <li role="presentation" {{{isNavActive page "Running"}}}><a href="/running">Running</a></li>
    <li role="presentation" {{{isNavActive page "Verium"}}}><a href="/verium">Verium</a></li>
    </ul>
</div>
