<div class="weather-day">

    <span class="heading">{{shortday}}</span>

    <img src="http://blob.weather.microsoft.com/static/weather4/en-us/law/{{skycodeday}}.gif" />

    <table>
        <tr>
            <td><span class="temperature-high">{{high}}°c</span></td>
            <td><span class="glyphicon glyphicon-chevron-up" /></td>
        </tr>
        <tr>
            <td><span class="temperature-low">{{low}}°c</span></td>
            <td><span class="glyphicon glyphicon-chevron-down" /></td>
        </tr>
    </table>
</div>
