<div class="panel panel-default">
    <div class="panel-heading">Hebburn Weather</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 text-left">
                <span class="large">Now</span><p>
                Temperature: <span class="temperature">{{weather.current.temperature}}°c</span><br/>
                Feels like: <span class="temperature">{{weather.current.feelslike}}°c</span>
                <p>{{weather.current.skytext}} <image src="{{{weather.current.imageUrl}}}" /></p>
            </div>
            <div class="col-md-8 text-left">
                <span class="large">5 day forecast</span><p>
                <table class="table">
                    <thead>
                        <tr>
                        {{#each weather.forecast}}
                            <th>{{shortday}}</th>
                        {{/each}}
                        </tr>
                    </thead>
                    <tr>
                    {{#each weather.forecast}}
                    <td>
                        {{>weatherDay this}}
                    </td>
                    {{/each}}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>