<div class="panel panel-default">
    <div class="panel-heading">Light Switches</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                <th>Light</th>
                <th>Status</th>
                </tr>
            </thead>
            <tr>
                <td>{{livingRoomLamp.name}}</td>
                <td><button type="button" class="btn btn-primary lightbtn" index="{{livingRoomLamp.id}}">On</button></td>
            </tr>
        </table> 
    </div>
</div>
<script>
    $('.lightbtn').on('click', function(e) {

        var on = e.target.innerHTML === "On";
        
        var state = on ? '/off' : '/on';

        var url = './light/' + $(e.target).attr('index') + state;
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                console.log(data);
                on = !on;
                e.target.innerHTML = on ? "On" : "Off";
            },
            error: function(err) {
                console.error(err);
            }
        });       
    });

    function refresh() {

        $('.lightbtn').each(function(btn) {

            var url = './light/' + btn.attr('index');


        })
        
    }

</script>
