<div class="well">
    <h1>LutasIOT - Home</h1>
    For all your home automation needs!
</div>

<div class="row">
    <div class="col-md-8 text-center">
        {{>weather}}
    </div>
    <div class="col-md-4 text-center">
        {{>baby}}
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        {{>metrotimes}}
    </div>
</div>