<div class="well">
    <h1>LutasIOT - Home</h1>
    For all your home automation needs!
</div>

<div class="row">
    <div class="col-md-3 text-center">
        {{>panel heading="Today's weather" content="weather/today"}}
    </div>
    <div class="col-md-6 text-center">
        {{>panel heading="5 day forecast" content="weather/forecast"}}
    </div>
    <div class="col-md-3 text-center">
        {{>baby}}
        {{>metrotimes}}
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        {{>light}}
    </div>
    <div class="col-md-2 text-center">
    </div>
    <div class="col-md-6 text-center">
        {{>calendar}}
    </div>
</div>