<script src="scripts/graphs.js"></script>

<div class="panel panel-default">
    <div class="panel-heading">{{heading}}</div>
    <div class="panel-body">
        <svg id="{{item}}" width="100%" height="50%" ></svg>
    </div>
</div>

<script>
    getThisMonthActivities.then(data => {

        if (data.length == 0) {
            return;
        }

        var prevVal = 0;
        var mapped = data.map(d => {
            var obj = {                
                x: new Date(d.end_time),
                y: d.{{item}} + prevVal
            };
            {{#if total}}
                prevVal = obj.y;
            {{/if}}
            return obj;
        });

        firstActivityDate = new Date(data[0].end_time);

        // add ends of graph
        // start of month
        mapped.unshift({
            x: new Date(firstActivityDate.getFullYear(), firstActivityDate.getMonth(), 1),
            y: 0
        });       

        // end of today
        mapped.push({
            x: mapped[mapped.length - 1].x,
            y: 0
        });

        // end of month
        mapped.push({
            x: new Date(firstActivityDate.getFullYear(), firstActivityDate.getMonth() + 1, 0),
            y: 0
        });

        createAreaGraph('#{{item}}', mapped, {{yAxisLabel}});
    });
</script>